# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: BuildpacksInstaller@1
  inputs:
    buildpacksVersion: '0.23.0'

- task: CmdLine@2
  inputs:
    script: |
      cd ./weatherforecast-api

- task: BuildpacksTask@1
  inputs:
    command: 'build'
    imageName: 'harbor.wesleyreisz.com/sample/weatherforecast'
    builder: 'paketobuildpacks/builder:base'
    pullPolicy: 'always'
    tags:  |
      harbor.wesleyreisz.com/sample/weatherforecast:latest
      harbor.wesleyreisz.com/sample/weatherforecast:v$(Build.BuildId)

- task: Docker@2
  inputs:
    containerRegistry: 'harbor.wesleyreisz.com'
    repository: 'sample/weatherforecast'
    command: 'push'
    tags: |
      latest
      v$(Build.BuildId)
